# Knapsack Problem <br><br>
### Greedy Approach

In [43]:
# Get inputs

input_file_name = "sample1.txt"

with open(input_file_name, "r") as f:
    
    # Store all input into an input_list.
    input_list = f.read()
    input_list = input_list.replace("\n"," ")
    input_list = input_list.split()
    
    #Convert items to integer.
    input_list = [int(i) for i in input_list]
    
    # Store first 2 items as m and n respectively. m: Number of knapsacks, n: Number of items
    m = input_list[0]
    n = input_list[1]

    # Store following n items into item_values_list.
    item_values_list = input_list[2:2+n]
    
    # Store following m items into knapsack_capacities.
    knapsack_capacities = input_list[2+n:2+n+m]
    
    # Store following n*m items into items_wight_matrix.
    items_weight_matrix = []
    for k in range(m):
        items_weight_matrix.append(input_list[2+n+m+n*k:2+n+m+n*(k+1)])
    
f.close()

In [44]:
import pandas as pd
import numpy as np

In [45]:
# Store item lists into a Pandas data frame in order to visualize better.
df = pd.DataFrame(items_weight_matrix)
df = df.T
df["values"] = item_values_list
df_original = df
df

      0    1  values
0    45   30    1898
1     0   20     440
2    85  125   22507
3   150    5     270
4    65   80   14148
5    95   25    3100
6    30   35    4650
7     0   73   30800
8   170   12     615
9     0   15    4975
10   40   15    1160
11   25   40    4225
12   20    5     510
13    0   10   11880
14    0   10     479
15   25   12     440
16    0   10     490
17    0    9     330
18   25    0     110
19    0   20     560
20  165   60   24355
21    0   40    2885
22   85   50   11748
23    0   36    4550
24    0   49     750
25    0   40    3720
26    0   19    1950
27  100  150   10500

In the greedy method for 1 constraint knapsack problem, v/w is calculated for each item. And the items are sorted in 
knapsacks based on this v/w values. The single knapsack is filled with the items that have highest v/w values. Higher v/w
values are considered as high valued but low cost items. So, initailly the items that have highest values but lowest 
weights are consumed with this method.

In this homework we reduce the multi constraint knapsack problem to a single constraint knapsack problem by calculating
a single v/w value which is produced from multiple weights.

In order to reduce the multiple constraints into 1 constraint first we normalize the weights with the following formula:

Mean Normalization:
normalized_df=(df-df.mean())/df.std()

We also test the Min-Max Normalization and Log Normalization but the test results are not as good as mean normalization.

In [46]:

# First we normalize the constraints in order to get a unitless knapsack versions. 
for i in range(m):
    # No Normalization:
    #df["normalized_{}".format(i)] = df[i]
    
    # Mean Normalization (0 - 1):
    df["normalized_{}".format(i)] = (df[i] - df[i].mean()).abs()/df[i].std()
    
    # Min Max Normalization:
    #df["normalized_{}".format(i)] = (df[i] - df[i].min())/(df[i].max() - df[i].min())
    
    # Logarithm Normalization:
    #df["normalized_{}".format(i)] = np.log2((df[i]+1)/2)

# Second all normailzed constraints are added.
df["sum_of_normalized_constraint"] = 0
for i in range(m):
    df["sum_of_normalized_constraint"] = df["sum_of_normalized_constraint"] + df["normalized_"+str(i)]

# Now we can calculate normalized single v/w from the normalized sum.

df["v/w(normalized)"] = df["values"] / df["sum_of_normalized_constraint"]

# Based on the greedy approach, sort the items by v/w

df = df.sort_values(by = "v/w(normalized)", ascending=False)

df

,0,1,values,normalized_0,normalized_1,sum_of_normalized_constraint,v/w(normalized)
6,30,35,4650,0.189467,0.015058,0.204525,22735.619959
7,0,73,30800,0.747895,1.053072,1.800967,17101.927642
11,25,40,4225,0.282538,0.125485,0.408023,10354.803186
22,85,50,11748,0.834318,0.406572,1.240890,9467.397147
4,65,80,14148,0.462033,1.249833,1.711865,8264.668448
13,0,10,11880,0.747895,0.717775,1.465670,8105.507540
20,165,60,24355,2.323460,0.687659,3.011118,8088.356591
0,45,30,1898,0.089747,0.155602,0.245349,7735.918317
2,85,125,22507,0.834318,2.514724,3.349042,6720.429965
23,0,36,4550,0.747895,0.013050,0.760945,5979.405911
25,0,40,3720,0.747895,0.125485,0.873380,4259.314831
9,0,15,4975,0.747895,0.577232,1.325127,3754.358091
21,0,40,2885,0.747895,0.125485,0.873380,3303.258948
27,100,150,10500,1.113532,3.217441,4.330973,2424.397551
5,95,25,3100,1.020461,0.296145,1.316606,2354.539115
10,40,15,1160,0.003324,0.577232,0.580556,1998.084813
26,0,19,1950,0.747895,0.464797,1.212692,1607.992911
24,0,49,750,0.747895,0.378463,1.126358,665.862843
19,0,20,560,0.747895,0.436689,1.184583,472.740106
15,25,12,440,0.282538,0.661558,0.944096,466.054291
12,20,5,510,0.375609,0.858319,1.233928,413.314173
1,0,20,440,0.747895,0.436689,1.184583,371.438655
16,0,10,490,0.747895,0.717775,1.465670,334.318072
14,0,10,479,0.747895,0.717775,1.465670,326.812972
17,0,9,330,0.747895,0.745884,1.493779,220.916246
8,170,12,615,2.416531,0.661558,3.078089,199.799298
3,150,5,270,2.044246,0.858319,2.902564,93.021194
18,25,0,110,0.282538,0.998862,1.281400,85.843591

In [48]:
# Fill in the knapsacks
# First calculate the accumulation of constraints. Remember that the items are sorted in the way that normalized v/w
# value gets the highest rate.

for knapsack_id in range(m):
    df["knapsack_accumulation_{}".format(knapsack_id)] = df[knapsack_id].expanding(min_periods=2).sum()
df

,0,1,values,normalized_0,normalized_1,sum_of_normalized_constraint,v/w(normalized),knapsack_accumulation_0,knapsack_accumulation_1
6,30,35,4650,0.189467,0.015058,0.204525,22735.619959,NaN,NaN
7,0,73,30800,0.747895,1.053072,1.800967,17101.927642,30.0,108.0
11,25,40,4225,0.282538,0.125485,0.408023,10354.803186,55.0,148.0
22,85,50,11748,0.834318,0.406572,1.240890,9467.397147,140.0,198.0
4,65,80,14148,0.462033,1.249833,1.711865,8264.668448,205.0,278.0
13,0,10,11880,0.747895,0.717775,1.465670,8105.507540,205.0,288.0
20,165,60,24355,2.323460,0.687659,3.011118,8088.356591,370.0,348.0
0,45,30,1898,0.089747,0.155602,0.245349,7735.918317,415.0,378.0
2,85,125,22507,0.834318,2.514724,3.349042,6720.429965,500.0,503.0
23,0,36,4550,0.747895,0.013050,0.760945,5979.405911,500.0,539.0
25,0,40,3720,0.747895,0.125485,0.873380,4259.314831,500.0,579.0
9,0,15,4975,0.747895,0.577232,1.325127,3754.358091,500.0,594.0
21,0,40,2885,0.747895,0.125485,0.873380,3303.258948,500.0,634.0
27,100,150,10500,1.113532,3.217441,4.330973,2424.397551,600.0,784.0
5,95,25,3100,1.020461,0.296145,1.316606,2354.539115,695.0,809.0
10,40,15,1160,0.003324,0.577232,0.580556,1998.084813,735.0,824.0
26,0,19,1950,0.747895,0.464797,1.212692,1607.992911,735.0,843.0
24,0,49,750,0.747895,0.378463,1.126358,665.862843,735.0,892.0
19,0,20,560,0.747895,0.436689,1.184583,472.740106,735.0,912.0
15,25,12,440,0.282538,0.661558,0.944096,466.054291,760.0,924.0
12,20,5,510,0.375609,0.858319,1.233928,413.314173,780.0,929.0
1,0,20,440,0.747895,0.436689,1.184583,371.438655,780.0,949.0
16,0,10,490,0.747895,0.717775,1.465670,334.318072,780.0,959.0
14,0,10,479,0.747895,0.717775,1.465670,326.812972,780.0,969.0
17,0,9,330,0.747895,0.745884,1.493779,220.916246,780.0,978.0
8,170,12,615,2.416531,0.661558,3.078089,199.799298,950.0,990.0
3,150,5,270,2.044246,0.858319,2.902564,93.021194,1100.0,995.0
18,25,0,110,0.282538,0.998862,1.281400,85.843591,1125.0,995.0

In [50]:
# Filter out the items when accumulated constraints exceed the corresponding knapsack capacity.

df_remainder = df

for knapsack_id in range(m):
    df_remainder = df_remainder.query('knapsack_accumulation_{} > {}'.format(knapsack_id,knapsack_capacities[knapsack_id]))
    
for knapsack_id in range(m):
    df = df.query('knapsack_accumulation_{} <= {}'.format(knapsack_id,knapsack_capacities[knapsack_id]))
df

,0,1,values,normalized_0,normalized_1,sum_of_normalized_constraint,v/w(normalized),knapsack_accumulation_0,knapsack_accumulation_1
7,0,73,30800,0.747895,1.053072,1.800967,17101.927642,30.0,108.0
11,25,40,4225,0.282538,0.125485,0.408023,10354.803186,55.0,148.0
22,85,50,11748,0.834318,0.406572,1.240890,9467.397147,140.0,198.0
4,65,80,14148,0.462033,1.249833,1.711865,8264.668448,205.0,278.0
13,0,10,11880,0.747895,0.717775,1.465670,8105.507540,205.0,288.0
20,165,60,24355,2.323460,0.687659,3.011118,8088.356591,370.0,348.0
0,45,30,1898,0.089747,0.155602,0.245349,7735.918317,415.0,378.0
2,85,125,22507,0.834318,2.514724,3.349042,6720.429965,500.0,503.0
23,0,36,4550,0.747895,0.013050,0.760945,5979.405911,500.0,539.0
25,0,40,3720,0.747895,0.125485,0.873380,4259.314831,500.0,579.0
9,0,15,4975,0.747895,0.577232,1.325127,3754.358091,500.0,594.0

In [51]:
# Fill the remainder empty places in the knapsacks with the remainder items which can fit with the empty spaces.

# All remainder items are being tried for the last empty spaces in the knapsacks.
for i in df_remainder.index:
    can_not_add_item = False
    for k in range(m):
        if df_remainder[k].loc[i] + df["knapsack_accumulation_{}".format(k)].iloc[-1] > knapsack_capacities[k]:
            # If one of the knapsack is out of bounds after adding the candidate item then we set this item 
            # as can_not_add_item = True.
            can_not_add_item = True
    if not can_not_add_item:
        # If any item can pass all constraints after added, then we update df (the items that will be put in knapsacks)
        # by adding this item.
        for k in range(m):
            df_remainder.at[i,"knapsack_accumulation_{}".format(k)] = df_remainder[k].loc[i]+df.iloc[-1]["knapsack_accumulation_{}".format(k)]
        df = df.append(df_remainder.loc[i])
df

,0,1,values,normalized_0,normalized_1,sum_of_normalized_constraint,v/w(normalized),knapsack_accumulation_0,knapsack_accumulation_1
7,0,73,30800,0.747895,1.053072,1.800967,17101.927642,30.0,108.0
11,25,40,4225,0.282538,0.125485,0.408023,10354.803186,55.0,148.0
22,85,50,11748,0.834318,0.406572,1.240890,9467.397147,140.0,198.0
4,65,80,14148,0.462033,1.249833,1.711865,8264.668448,205.0,278.0
13,0,10,11880,0.747895,0.717775,1.465670,8105.507540,205.0,288.0
20,165,60,24355,2.323460,0.687659,3.011118,8088.356591,370.0,348.0
0,45,30,1898,0.089747,0.155602,0.245349,7735.918317,415.0,378.0
2,85,125,22507,0.834318,2.514724,3.349042,6720.429965,500.0,503.0
23,0,36,4550,0.747895,0.013050,0.760945,5979.405911,500.0,539.0
25,0,40,3720,0.747895,0.125485,0.873380,4259.314831,500.0,579.0
9,0,15,4975,0.747895,0.577232,1.325127,3754.358091,500.0,594.0

In [52]:
# Get the total_value from the remaining items.
Total_Value = df["values"].sum()
Total_Value = int(Total_Value)
Total_Value

134806

In [53]:
# Get 0 - 1 item list that put in the knapsacks.

items_in_knapsack = df.index

# Items that put in the knapsacks are set as '1' in the original data frame. And the rest is set as '0'.
df_original_ = df_original.reset_index()
df_original_ = df_original_.rename(columns={"index":"item_id"})
df_original_.loc[df_original_["item_id"].isin(items_in_knapsack), "items_in_knapsack"] = 1
df_original_["items_in_knapsack"] = df_original_["items_in_knapsack"].fillna(0)
df_original_["items_in_knapsack"] = df_original_["items_in_knapsack"].astype(int)
df_original_

,item_id,0,1,values,normalized_0,normalized_1,sum_of_normalized_constraint,v/w(normalized),items_in_knapsack
0,0,45,30,1898,0.089747,0.155602,0.245349,7735.918317,1
1,1,0,20,440,0.747895,0.436689,1.184583,371.438655,0
2,2,85,125,22507,0.834318,2.514724,3.349042,6720.429965,1
3,3,150,5,270,2.044246,0.858319,2.902564,93.021194,0
4,4,65,80,14148,0.462033,1.249833,1.711865,8264.668448,1
5,5,95,25,3100,1.020461,0.296145,1.316606,2354.539115,0
6,6,30,35,4650,0.189467,0.015058,0.204525,22735.619959,0
7,7,0,73,30800,0.747895,1.053072,1.800967,17101.927642,1
8,8,170,12,615,2.416531,0.661558,3.078089,199.799298,0
9,9,0,15,4975,0.747895,0.577232,1.325127,3754.358091,1
10,10,40,15,1160,0.003324,0.577232,0.580556,1998.084813,0
11,11,25,40,4225,0.282538,0.125485,0.408023,10354.803186,1
12,12,20,5,510,0.375609,0.858319,1.233928,413.314173,0
13,13,0,10,11880,0.747895,0.717775,1.465670,8105.507540,1
14,14,0,10,479,0.747895,0.717775,1.465670,326.812972,0
15,15,25,12,440,0.282538,0.661558,0.944096,466.054291,0
16,16,0,10,490,0.747895,0.717775,1.465670,334.318072,0
17,17,0,9,330,0.747895,0.745884,1.493779,220.916246,0
18,18,25,0,110,0.282538,0.998862,1.281400,85.843591,0
19,19,0,20,560,0.747895,0.436689,1.184583,472.740106,0
20,20,165,60,24355,2.323460,0.687659,3.011118,8088.356591,1
21,21,0,40,2885,0.747895,0.125485,0.873380,3303.258948,0
22,22,85,50,11748,0.834318,0.406572,1.240890,9467.397147,1
23,23,0,36,4550,0.747895,0.013050,0.760945,5979.405911,1
24,24,0,49,750,0.747895,0.378463,1.126358,665.862843,0
25,25,0,40,3720,0.747895,0.125485,0.873380,4259.314831,1
26,26,0,19,1950,0.747895,0.464797,1.212692,1607.992911,0
27,27,100,150,10500,1.113532,3.217441,4.330973,2424.397551,0

In [54]:
# Now output file is generated with the Total_Value and items_in_knapsack.

with open("output_"+input_file_name,"w") as f:
    f.write(str(Total_Value)+"\n")
    for i in df_original_["items_in_knapsack"]:
        f.write(str(i)+"\n")
f.close()